.delete-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: grey;
}

.edit-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #007bff;
}

.edit-btn-green {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn-green:hover {
    background-color: #00cc00;
}

.cancel-btn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #b3b3b3;
}

.add-customer-btn {
    display: block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px auto 0;
    width: fit-content;
}

.add-customer-btn:hover {
    background-color: #0056b3;
    padding: 15px 30px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button {
    padding: 15px 30px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: black;
}